@import './reset.css';
@import './default.css';
@import './qna.css';
@import './animation.css';
@import './result.css';

#main {
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 18px;
}